## Builds ##
dist

## Dependencies ##
package-lock.json

## Package manager ##
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

## Env ##
.env*
!.env.example
!.env.test

