.git*
.prettier*
.eslint*
.devcontainer/
.husky/
.vscode/
.turbo/
coverage/
dist/
build/
infra/
node_modules/
tests/
protos/
!protos/**/*.proto
!protos/**/*.yaml
scripts/*.sh
.editorconfig
.env*
.gitattributes
.gitignore
LICENSE
README.md
vitest.config.ts
vitest.workspace.ts
