## Builds ##
dist
prisma/generated
prisma/seed
src/lib/rpc/gen

## Development ##
infra
coverage

## Dependencies ##
node_modules
package-lock.json

## Package manager ##
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

## Env ##
.env

### intellij ###
.idea/

## Logs ##
logs
*.log
